body {
    margin: 0;
    padding: 0;
}

.box1,
.box2,
.box3 {
    height: 300px;
    text-align: center;
    padding-top: 50px;
    color: #fff;
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box1 h1,
.box2 h1,
.box3 h1 {
    font-size: 65px;
    text-transform: capitalize;
}

.box1 p,
.box2 p,
.box3 p {
    width: 800px;
    margin: 20px auto;
}

.box2,
.box3 {
    padding-top: 70px;
    background-color: blue;
}

.box2 h1,
.box3 h1 {
    font-size: 45px;
}

.box2 p,
.box3 p {
    width: 500px;
}

.box3 {
    background-color: yellow;
    text-shadow: 2px 2px 5px #000;
}

.box3 h1 {
    font-size: 80px;
}